*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: #3669C9;
    position: fixed;
}
.header1{
    width: 100%;
    
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* background: #3669C9; */
    align-items: center;
    padding: 1%;
    

}

.navbar img{
    width: 100%;
    height: 100%;
}
.box-consulta{
    background-color: #ffffff;
    border-radius: 50px;    
}


.navbar a{
    font-size: 20px;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
}
/* ------------------------------------------------------------------------------------------- */
.input-padre{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 850px;
    padding: 50px;
    
}
.input-padre{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Fondo.png);
    

}

.cala{
    margin-top: 99px;
    width: 30%;
    height: 90%;
    text-align: center;    
    background-color: #ffffff;
    border-radius: 5%;
    margin-left: 20px;
    
}
.text-input{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputs1{
    
    justify-content: center;
    width: 100%;
    height: 100%;
}
.texting{
    display: flex;
    margin-bottom: 5px;
    font-size: large;
    
    margin-left: 30px;
}
.inputs2 input{
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
}
.buttons{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    height: 40px;
    background-color: #3669C9;
    border-radius: 0.6rem ;

    color: rgb(255, 255, 255);
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
    font-size: xx-large;
    margin-bottom: 10px;
}
.paragraph1{

    letter-spacing: 6px;
    font-size: x-large;
    display: flex;
    margin-left: 190px;
    margin-right: 5px;
    flex-direction: column;
    
}
.buttons11{
    background-color: #3669C9;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    height: 40px;
    width: 300px;
    border-radius: 0.6rem;
    margin-top: 50px;
}
.button11{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/* ------------------------------------------------------------ */
.title11{
    font-size: xx-large;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}
.container11{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 150%;
    font-size: x-large;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    letter-spacing: 2px;

}
.image11{
    
    width: 50%;
    margin-top: -100px;

}

/* ------------------------------------------ */
.etapas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.etapa1{
    margin-left: 100px;
    margin-right: 100px;

}
.titulo1{
    text-align: center;
    margin: 20px;
    margin-top: 120px;
    margin-bottom: 70px;
    letter-spacing: 5px;
}
.jaja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cala21{
    margin-left: 99px;
}
/* ----------------------------------- */
.container-preguntas {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 100px 100px;
    width: 90%;
  }

  .number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
  }
  /* .number1{
    width: 100px;
    background-color: aqua; 
    border-radius: 50%;
    
  } */

  .question {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .answer {
    margin-bottom: 20px;
  }
  /* ----------------------------- */
  .container-questionario {
    text-align: center;
    margin-left: 100px;
    max-width: 90%;
    background-color: #3498db; /* Color de fondo azul */
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; /* Color del texto */
  }

  .container-questionario h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .container-questionario p {
    margin-bottom: 20px;
  }

  .button2 {
    background-color: #ffffff; /* Color de fondo del botón */
    color: #3498db; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }